[submodule "tmux/tmux/plugins/tpm"]
	path = tmux/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm

[submodule "tmux/tmux/plugins/tmux-yank"]
	path = tmux/tmux/plugins/tmux-yank
	url = https://github.com/tmux-plugins/tmux-yank